<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>wedding planner</title>
    <h1><style=text:center> Welcome to Queen event co</h1>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <header style=" background-color:#8B008B " rgb(12,200,150)

  <nav>
    <ul>
      <li> contact us </li></a>
      <li>nsta:queen.events</li></a>
      <li>fb:queen.event.co</li></a>
      <li>Email:queen_event@gmail.com></a></li>
      </ul></nav>
      <h2>welcome to our events desingns</h2>
      <img src="https://www.lamsahfannan.com/content/uploads/080428122924vkzb.jpg/>
      <img scr="/img/center jpg"/>
      <style>
        test-color:FFOOFF;
        text-align:center;
        margin:20px 0px 20px 0;

        <li> Events planner</li>
        <li>Offer hospitality serving</li>
        <li>Arranging flowers</li>
        <li>DJ and lightning</li>
        </style>
        </ul>

        <footer><b>
          <style
            text-align:right;

            text-color:FFOFF;
            desingns by Nada Alyousef
            </b></footer>
            
        <

      


      
       
        </style>
        

      <p>style="background-color:FFOOFF"we serve these following services and more:</p>
      <ul><style="color:LightGray">
        <b
      
        <li>


    <script src="script.js"></script>
  </body>
</html>